In [114]:

import pandas as pd #impost library pandas
movie_bd = pd.read_csv('movie_bd_v5.csv') #convert our file to dataframe
display(movie_bd) #show our dataframe

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,6.5,2015
1,tt1392190,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,7.1,2015
2,tt2908446,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,6.3,2015
3,tt2488496,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,7.5,2015
4,tt2820852,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,7.3,2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1884,tt0120903,75000000,157299717,X-Men,Patrick Stewart|Hugh Jackman|Ian McKellen|Hall...,Bryan Singer,Evolution Begins,"Two mutants, Rogue and Wolverine, come to a pr...",104,Adventure|Action|Science Fiction,Twentieth Century Fox Film Corporation|Donners...,7/13/2000,6.6,2000
1885,tt0192255,22000000,13555988,The Little Vampire,Richard E. Grant|Jonathan Lipnicki|Jim Carter|...,Uli Edel,"They're not just best friends, they're blood b...","Based on the popular books, the story tells of...",95,Horror|Family|Foreign,New Line Cinema,10/27/2000,6.4,2000
1886,tt0131704,76000000,35134820,The Adventures of Rocky & Bullwinkle,Rene Russo|Jason Alexander|Piper Perabo|Randy ...,Des McAnuff,This summer it's not the same old bull.,Rocky and Bullwinkle have been living off the ...,88,Adventure|Animation|Action|Comedy|Family,Universal Pictures|Capella International|KC Me...,6/30/2000,4.0,2000
1887,tt0162983,40000000,36037909,Hanging Up,Meg Ryan|Diane Keaton|Lisa Kudrow|Walter Matth...,Diane Keaton,Every family has a few hang-ups.,A trio of sisters bond over their ambivalence ...,94,Comedy|Drama,Laurence Mark Productions|Columbia Pictures Co...,2/16/2000,5.2,2000
1888,tt0163676,15000000,5217498,The In Crowd,Susan Ward|Lori Heuring|Matthew Settle|Nathan ...,Mary Lambert,What would you do to get in?,A mentally disturbed young woman takes a job a...,105,Thriller,Warner Bros. Pictures,7/19/2000,5.2,2000

In [115]:
#Вопрос 1. У какого фильма из списка самый большой бюджет?

#we already import library and file, so we can go right to finding necessary information 
movie_bd.loc[movie_bd.budget == movie_bd.budget.max()] #finding what row contains the biggest budget for the film

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011

In [116]:
#Вопрос 2. Какой из фильмов самый длительный (в минутах)?

movie_bd.loc[movie_bd.runtime == movie_bd.runtime.max()] #finding what row contains the longest film

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,5.8,2003

In [117]:
#Вопрос 3. Какой из фильмов самый короткий (в минутах)?

movie_bd.loc[movie_bd.runtime == movie_bd.runtime.min()] #finding what row contains the fastest film

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,4/13/2011,6.8,2011

In [118]:
#Вопрос 4.  Какова средняя длительность фильмов?

movie_bd.runtime.mean() #finding what is the average movie length in our DataFrame

109.6585494970884

In [119]:
#Вопрос 5. Каково медианное значение длительности фильмов?

movie_bd.runtime.median() #finding what is the median of movie length

107.0

In [120]:
#Вопрос 6. Какой фильм самый прибыльный?

movie_bd['profit'] = movie_bd['revenue'] - movie_bd['budget'] #creating new column
movie_bd.loc[movie_bd.profit == movie_bd.profit.max()] #finding what row contains the most profitable film

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,7.1,2009,2544505847

In [121]:
#Вопрос 7. Какой фильм самый убыточный?

#we already create new column in the previous step, so we can go right to finding necessary information 
movie_bd.loc[movie_bd.profit == movie_bd.profit.min()] #finding what row contains the most unprofitable film

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

In [122]:
#Вопрос 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

movie_bd.loc[movie_bd.revenue > movie_bd.budget] #finding the amount of films where revenue was higher than the budget(we can see the amount of rows-this is the answer)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,6.5,2015,1363528810
1,tt1392190,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,7.1,2015,228436354
2,tt2908446,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,6.3,2015,185238201
3,tt2488496,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,7.5,2015,1868178225
4,tt2820852,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,7.3,2015,1316249360
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1871,tt0171433,30000000,37036004,Keeping the Faith,Ben Stiller|Edward Norton|Jenna Elfman|Anne Ba...,Edward Norton,"If you have to believe in something, you may a...","Best friends since they were kids, Rabbi Jacob...",127,Comedy,Spyglass Entertainment|Touchstone Pictures|Tri...,4/14/2000,5.7,2000,7036004
1875,tt0219854,65000000,69700000,The Kid,Bruce Willis|Spencer Breslin|Emily Mortimer|Li...,Jon Turteltaub,Nobody ever grows up quite like they imagined.,Powerful businessman Russ Duritz is self-absor...,104,Fantasy|Comedy|Family,Walt Disney Pictures,7/7/2000,5.9,2000,4700000
1877,tt0199725,20000000,27728118,Love & Basketball,"Chris Warren, Jr.|Kyla Pratt|Sanaa Lathan|Omar...",Gina Prince-Bythewood,All's fair in love and basketball.,A young African-American couple navigates the ...,124,Action|Comedy|Drama|Romance,40 Acres & A Mule Filmworks,4/21/2000,7.3,2000,7728118
1883,tt0122459,24000000,36609995,Return to Me,David Duchovny|Minnie Driver|Carroll O'Connor|...,Bonnie Hunt,A comedy straight from the heart,It took a lot of cajoling to get Bob (Duchovny...,115,Romance|Comedy|Drama,Metro-Goldwyn-Mayer (MGM)|JLT Productions,4/7/2000,5.5,2000,12609995
1884,tt0120903,75000000,157299717,X-Men,Patrick Stewart|Hugh Jackman|Ian McKellen|Hall...,Bryan Singer,Evolution Begins,"Two mutants, Rogue and Wolverine, come to a pr...",104,Adventure|Action|Science Fiction,Twentieth Century Fox Film Corporation|Donners...,7/13/2000,6.6,2000,82299717

In [123]:
#Вопрос 9. Какой фильм оказался самым кассовым в 2008 году?

movie_bd_new = movie_bd[movie_bd.release_year==2008] #creating the new dataset with films of only 2008 year
movie_bd_new.loc[movie_bd_new.revenue == movie_bd_new.revenue.max()] #row with highest grossing film in 2008

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825

In [124]:
#Вопрос 10. Самый убыточный фильм за период с 2012 по 2014 годы (включительно)?

movie_bd_new2 = movie_bd[(movie_bd.release_year >= 2012) & (movie_bd.release_year <= 2014)] #new dataset with films release beatween 2012 and 2014 inclusive
movie_bd_new2.loc[movie_bd_new2.profit == movie_bd_new2.profit.min()] #row with most unprofitable film between 2012 and 2014

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

In [125]:
#Вопрос 11. Какого жанра фильмов больше всего?

#divide genres by symbol and expand the resulting lists using the explode function
movie_bd.genres.str.split('|').explode().value_counts()

Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
Name: genres, dtype: int64

In [126]:
#Вопрос 12. Фильмы какого жанра чаще всего становятся прибыльными?

df = movie_bd[movie_bd.profit > 0][['genres']] #new dataset with only profitable films by genres
df.genres = df.genres.str.split('|') #divide genres by symbol
df = df.explode('genres') #expand the resulting lists using the explode function
df.genres.value_counts()

Drama              560
Comedy             551
Thriller           446
Action             444
Adventure          337
Romance            242
Crime              231
Family             226
Science Fiction    195
Fantasy            188
Horror             150
Animation          120
Mystery            119
Music               47
History             46
War                 41
Western             12
Documentary          7
Name: genres, dtype: int64

In [127]:
#Вопрос 13. У какого режиссёра самые большие суммарные кассовые сборы?

director_df = movie_bd.copy() #new dataset
director_df['director'] = director_df.director.str.split('|') #divide directors by symbol
director_df2 = director_df.explode('director') #expand the resulting lists using the explode function
director_df2.groupby(['director'])['revenue'].sum().sort_values(ascending=False).index[0] 
#sort our dataset for directors by revenue to find the director with the highest sum of films' gross

'Peter Jackson'

In [128]:
#Вопрос 14. Какой режиссер снял больше всего фильмов в стиле Action?

movie_bd[movie_bd.genres.str.contains('Action')].director.str.split('|').explode().value_counts()
#find rows with action and then find the director who is more ofthen makes such films

Robert Rodriguez       9
Paul W.S. Anderson     7
Michael Bay            7
Ridley Scott           6
Antoine Fuqua          6
                      ..
Julie Anne Robinson    1
Eli Roth               1
Patrick Lussier        1
Christian Alvart       1
Pitof                  1
Name: director, Length: 364, dtype: int64

In [129]:
#Вопрос 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

cast_df = movie_bd[movie_bd.release_year == 2012].copy() #creating the new dataset with films of only 2008 year
cast_df['cast'] = cast_df.cast.str.split('|') #divide cast by symbol 
cast_df2 = cast_df.explode('cast') #expand the resulting lists using the explode function
cast_df2.groupby(['cast'])['revenue'].sum().sort_values(ascending=False).index[0]
#sort our dataset for actors by revenue to find the actor with the highest sum of films' gross

'Chris Hemsworth'

In [130]:
#Вопрос 16. Какой актер снялся в большем количестве высокобюджетных фильмов? Примечание: в фильмах, где бюджет выше среднего по данной выборке.

actor_df = movie_bd[movie_bd.budget > movie_bd.budget.mean()].copy() #creating the new dataset with films with high budget, more then average
actor_df['cast'] = actor_df.cast.str.split('|') #divide cast by symbol
actor_df2 = actor_df.explode('cast') #expand the resulting lists using the explode function
actor_df2.groupby(['cast'])['budget'].count().sort_values(ascending=False)
#sort our dataset for actors by budget to find the actor who avting in the biggest ammount of high budget films

cast
Matt Damon           18
Adam Sandler         17
Angelina Jolie       16
Eddie Murphy         15
Samuel L. Jackson    15
                     ..
Leslie Bibb           1
Leonard Nimoy         1
Lennie James          1
Lena Olin             1
50 Cent               1
Name: budget, Length: 1505, dtype: int64

In [131]:
#Вопрос 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

movie_bd[movie_bd.cast.str.contains('Nicolas Cage')].genres.str.split('|').explode().value_counts()
#find genre in which Nicolas Cage acting more ofthen by finding cast that contains his name and creating list of genres

Action             17
Thriller           15
Drama              12
Crime              10
Fantasy             8
Adventure           7
Comedy              6
Science Fiction     4
Family              3
Animation           3
Mystery             3
History             2
Horror              1
Romance             1
War                 1
Name: genres, dtype: int64

In [132]:
#Вопрос 18. Самый убыточный фильм от Paramount Pictures?

production_df = movie_bd[movie_bd.production_companies.str.contains('Paramount Pictures')] 
#creating the new dataset with films that was created by Paramount Picture by finding production_companies that contains this name
production_df.groupby(['original_title'])['profit'].min().sort_values(ascending=True)
 #finding most unprofitable of Paramount Pictures

original_title
K-19: The Widowmaker                                  -64831034
Timeline                                              -60519261
Next                                                  -51788987
Alfie                                                 -46604061
Twisted                                               -24805000
                                                        ...
Mission: Impossible - Ghost Protocol                  549713380
Transformers                                          559709780
Indiana Jones and the Kingdom of the Crystal Skull    601636033
Transformers: Revenge of the Fallen                   686297228
Transformers: Dark of the Moon                        928746996
Name: profit, Length: 122, dtype: int64

In [133]:
#Вопрос 19. Какой год стал самым успешным по суммарным кассовым сборам?

movie_bd.groupby(['release_year'])['revenue'].sum().sort_values(ascending=False).index[0]
#sort our dataset for release_year by revenue sum to find the most grossing year

2015

In [134]:
#Вопрос 20. Какой самый прибыльный год для студии Warner Bros?

warner_df = movie_bd[movie_bd.production_companies.str.contains('Warner Bros')]
#creating the new dataset with films that was created by Warner Bros by finding production_companies that contains this name
warner_df.groupby(['release_year'])['profit'].sum().sort_values(ascending=False).index[0]
#sort our dataset for release_year by profit sum to find the most profitable year for Warner Bros

2014

In [135]:
#Вопрос 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

month_df = movie_bd.copy() #creating the new dataset
month_df['release_date'] = pd.to_datetime(month_df['release_date'], format = '%m/%d/%Y')
#give the data formate to release date column
month_df.release_date = month_df.release_date.apply(lambda x: x.strftime('%B')) #transform date to the non-number months 
month_df.groupby(['release_date'])['original_title'].count().sort_values(ascending=False)
#sort our dataset for release_date by original_title to find in which month the most films were released for all years

release_date
September    227
December     190
October      186
August       161
March        156
April        149
June         147
November     146
July         142
May          140
February     135
January      110
Name: original_title, dtype: int64

In [136]:
#Вопрос 22. Сколько суммарно вышло фильмов летом (за июнь, июль, август)?


sdata = month_df.groupby(['release_date'])['original_title'].count().sort_values(ascending=False)
summer_df = sdata.reset_index() #creating the new dataset with from the data in the previous step, months and titles
summer_df[(summer_df.release_date == 'June') | (summer_df.release_date == 'July') | (summer_df.release_date == 'August')].original_title.sum()
#finding how many films were released in summer for all years

450

In [137]:
#Вопрос 23. Для какого режиссера зима — самое продуктивное время года

winter_df = month_df.copy()#creating the new dataset
winter_df[(winter_df.release_date == 'December') | (winter_df.release_date == 'January') | (winter_df.release_date == 'February')].director.str.split('|').explode().value_counts()
#finding how many films were released in winter for all years by directotrs, wivh were deviding by symbol and expand the resulting lists using the explode function

Peter Jackson        7
Clint Eastwood       6
Steven Soderbergh    6
Adam Shankman        4
Martin Scorsese      4
                    ..
Richard Loncraine    1
MÃ¥ns MÃ¥rlind       1
Ericson Core         1
Mennan Yapo          1
Tyler Gillett        1
Name: director, Length: 358, dtype: int64

In [138]:
#Вопрос 24. Какая студия даёт самые длинные названия своим фильмам по количеству символов?


filmLen_df = movie_bd.copy()#creating the new dataset
filmLen_df['length_title'] = filmLen_df.original_title.str.len() #creating the new column with the lenght of the film titles
filmLen_df['production_companies'] = filmLen_df.production_companies.str.split('|') #deviding production companies by symbol
filmLen_df2 = filmLen_df.explode('production_companies') #expand the resulting lists using the explode function
filmLen_df2.groupby(['production_companies'])['length_title'].mean().sort_values(ascending=False)
#sort our dataset for production_companies by length_title to find in which company usualy gives the biggest names for the film

production_companies
Four By Two Productions       83.0
Jim Henson Company, The       59.0
Dos Corazones                 47.0
Museum Canada Productions     46.0
Polsky Films                  46.0
                              ...
Everest Entertainment          3.0
Berlanti Productions           3.0
XM2 Productions                2.0
Ixtlan Productions             2.0
Global Entertainment Group     2.0
Name: length_title, Length: 1771, dtype: float64

In [139]:
#Вопрос 25. Описания фильмов какой студии в среднем самые длинные по количеству слов?

overviewLen_df = movie_bd.copy() #creating the new dataset
overviewLen_df['length_overview'] = overviewLen_df.overview.apply(lambda x: len(x.split())) 
#creating the new column with the lenght of the amount of words in the overview by deviding overview by symbol and using lambda to count the amount of words 
overviewLen_df['production_companies'] = overviewLen_df.production_companies.str.split('|') #deviding production companies by symbol
overviewLen_df2 = overviewLen_df.explode('production_companies') #expand the resulting lists using the explode function
overviewLen_df2.groupby(['production_companies'])['length_overview'].mean().sort_values(ascending=False)
#sort our dataset for production_companies by llength_overview to find in which company usualy gives the biggest overviews by words ammount

production_companies
Midnight Picture Show                    175.0
Room 9 Entertainment                     161.0
98 MPH Productions                       159.0
Heineken Branded Entertainment           159.0
Brookwell-McNamara Entertainment         156.0
                                         ...
London Boulevard                          13.0
Phantom Four                              13.0
Henceforth                                13.0
Empire Pictures                           11.0
Motion Picture Corporation of America     11.0
Name: length_overview, Length: 1771, dtype: float64

In [140]:
#Вопрос 26. Какие фильмы входят в один процент лучших по рейтингу?

raiting_df = movie_bd.copy()#creating the new dataset
raiting_df.groupby(['original_title'])['vote_average'].max().sort_values(ascending=False).head(18) 
#sort our dataset for original_title by vote_average to have it from the biggest to smallest
#then take the first 19 because it will be 1percent of the top rated films

original_title
The Dark Knight                                  8.1
The Imitation Game                               8.0
Inside Out                                       8.0
Interstellar                                     8.0
Room                                             8.0
The Grand Budapest Hotel                         7.9
The Pianist                                      7.9
Guardians of the Galaxy                          7.9
Memento                                          7.9
The Wolf of Wall Street                          7.9
Inception                                        7.9
Gone Girl                                        7.9
12 Years a Slave                                 7.9
The Lord of the Rings: The Return of the King    7.9
Prisoners                                        7.8
The Fault in Our Stars                           7.8
Eternal Sunshine of the Spotless Mind            7.8
The Prestige                                     7.8
Name: vote_average, dtype: float64

In [141]:
#Вопрос 27. Какие актеры чаще всего снимаются в одном фильме вместе?

#import libraries
from collections import Counter
from itertools import combinations

actorsBFF_dt = movie_bd.copy() #make copy of our dataframe
pairs = Counter() #introduce the variable pairs
for i in range(0, len(actorsBFF_dt)):
    actors = actorsBFF_dt.cast[i].split('|') #devide our cast by symbol for separate actors repeat it for all cast cells
    for j in list(combinations(actors, 2)): #making pairs from the actors
        if j not in pairs:
            pairs[j] = 1 #if actors not in pair, nothing changes
        else:
            pairs[j] += 1 #if actors in pair, we increase the frequency of actors playing together for 1
pairs.most_common(5)
#finding 5 most common pairs

[(('Daniel Radcliffe', 'Rupert Grint'), 8),
 (('Daniel Radcliffe', 'Emma Watson'), 8),
 (('Rupert Grint', 'Emma Watson'), 7),
 (('Ben Stiller', 'Owen Wilson'), 6),
 (('Johnny Depp', 'Helena Bonham Carter'), 6)]